// BEGIN of CSS RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

// END of CSS RESET

// 1 - END of Including files ("fonts.css", "reset.css" and others) ----------------------------------------------------------
// 2 - BEGIN of Tags and General styles ----------------------------------------------------------
html
  height: 100%

body
  height: 100%
  min-height: 1024px
  margin: 0 auto
  font-family: Roboto, sans-serif
  font-weight: normal
  font-size: 18px
  



h1, .h1
  font-size: 40px
  line-height: 47px
  text-align: center
  letter-spacing: 0.02em
  font-weight: bold
  color: $green


h2,.h2
  margin-bottom: 25px
  font-family: Raleway
  font-weight: bold
  font-size: 32px
  line-height: 35px
  color: $green


h3,.h3
  font-size: 28px
  line-height: 35px
  text-align: center
  color: #8F8F8F
  font-family: Raleway

  a
    text-decoration: underline
    color: #8F8F8F

h4, .h4
  font-family: Raleway
  font-weight: bold
  font-size: 20px
  line-height: 23px
  color: #447C6C

h5, .h5
  font-family: Raleway
  font-weight: 500
  font-size: 18px
  line-height: 21px
  color: #447C6C


h6, .h6


p
  line-height: 24px

a
  color: #3B4256
  text-decoration: none
  outline: none
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease
  &:hover
    opacity: 0.7
    text-decoration: none
    outline: none
    color: inherit
  &:active
    opacity: 0.6
    outline: none
    color: inherit
    text-decoration: none
  &:focus
    outline: none
    color: inherit
    text-decoration: none

button, input, textarea, select
  padding: 0
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease

button
  cursor: pointer

button:hover, input:hover, textarea:hover, select:hover
  opacity: 0.8

strong
  font-weight: bold

em
  font-style: italic

img
  max-width: 100%

*
  box-sizing: border-box


.form-field::-webkit-input-placeholder
  font-family: Raleway
  font-weight: 500
  font-size: 20px
  line-height: 23px
  color: #A9A9A9

.form-field:-moz-placeholder 
  font-family: Raleway
  font-weight: 500
  font-size: 20px
  line-height: 23px
  color: #A9A9A9

.form-field::-moz-placeholder 
  font-family: Raleway
  font-weight: 500
  font-size: 20px
  line-height: 23px
  color: #A9A9A9

.form-field:-ms-input-placeholder 
  font-family: Raleway
  font-weight: 500
  font-size: 20px
  line-height: 23px
  color: #A9A9A9






.container
  margin: 0 auto
  width: auto
  padding-left: 58px
  padding-right: 91px
  max-width: 100%

