@font-face
  font-family: 'Raleway'
  src: url('../fonts/Raleway/Raleway-Regular.woff2') format("woff2"), url('../fonts/Raleway/Raleway-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Raleway'
  src: url('../fonts/Raleway/Raleway-Bold.woff2') format("woff2"), url('../fonts/Raleway/Raleway-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Roboto'
  src: url('../fonts/Roboto/Roboto-Light.woff2') format("woff2"), url('../fonts/Roboto/Roboto-Light.woff') format("woff")
  font-weight: 300
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Roboto'
  src: url('../fonts/Roboto/Roboto-Medium.woff2') format("woff2"), url('../fonts/Roboto/Roboto-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Roboto'
  src: url('../fonts/Roboto/Roboto-Bold.woff2') format("woff2"), url('../fonts/Roboto/Roboto-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Raleway'
  src: url('../fonts/Raleway/Raleway-Medium.woff2') format("woff2"), url('../fonts/Raleway/Raleway-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Roboto'
  src: url('../fonts/Roboto/Roboto-Regular.woff2') format("woff2"), url('../fonts/Roboto/Roboto-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap




@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?4d2luu')
  src: url('../fonts/icomoon/icomoon.eot?4d2luu#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?4d2luu') format("truetype"), url('../fonts/icomoon/icomoon.woff?4d2luu') format("woff"), url('../fonts/icomoon/icomoon.svg?4d2luu#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block

[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon' !important
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1







.icon-arrow-right:before
  content: "\e905"

.icon-arrow-up:before
  content: "\e906"

.icon-book:before
  content: "\e907"

.icon-build:before
  content: "\e908"

.icon-calendar:before
  content: "\e909"

.icon-file:before
  content: "\e90a"

.icon-diagram:before
  content: "\e912"

.icon-doc:before
  content: "\e913"

.icon-exit:before
  content: "\e915"

.icon-change:before
  content: "\e916"

.icon-favority:before
  content: "\e917"

.icon-grafik:before
  content: "\e918"

.icon-laptop:before
  content: "\e919"

.icon-message:before
  content: "\e91b"

.icon-money:before
  content: "\e91c"

.icon-monitor:before
  content: "\e91d"

.icon-oclock:before
  content: "\e91f"

.icon-people:before
  content: "\e920"

.icon-play:before
  content: "\e921"

.icon-plus:before
  content: "\e922"

.icon-case:before
  content: "\e923"

.icon-placeholder:before
  content: "\e91a"
  color: #93b69a

.icon-profile:before
  content: "\e924"

.icon-orientation:before
  content: "\e925"

.icon-star:before
  content: "\e928"

.icon-static:before
  content: "\e929"

.icon-university:before
  content: "\e92a"

.icon-puzzle:before
  content: "\e92b"
















.ic
  display: inline-block
  vertical-align: middle
  background-size: contain !important
  transition: all .3s

  &-news
    width: 28px
    height: 28px
    background: url(../img/icons/news.svg) no-repeat

    &:hover
      background: url(../img/icons/news-active.svg) no-repeat

  &-course
    width: 28px
    height: 28px
    background: url(../img/icons/course.svg) no-repeat

    &:hover
      background: url(../img/icons/course-active.svg) no-repeat

  &-profile
    width: 31px
    height: 31px
    background: url(../img/icons/profile.svg) no-repeat

    &:hover
       background: url(../img/icons/profile-active.svg) no-repeat

  &-profile-2
    width: 40px
    height: 40px
    background: url(../img/icons/profile-2.svg) no-repeat

  &-edit
    width: 34px
    height: 34px
    background: url(../img/icons/edit.svg) no-repeat

    &:hover
       background: url(../img/icons/edit-active.svg) no-repeat

  &-add-news
    width: 34px
    height: 34px
    background: url(../img/icons/add-news.svg) no-repeat

    &:hover
       background: url(../img/icons/add-news-active.svg) no-repeat

  &-faculty
    width: 42px
    height: 31px
    background: url(../img/icons/faculty.svg) no-repeat

    &:hover
       background: url(../img/icons/faculty-active.svg) no-repeat

  &-settings
    width: 42px
    height: 42px
    background: url(../img/icons/settings.svg) no-repeat

    &:hover
       background: url(../img/icons/settings-active.svg) no-repeat

    &-header
      width: 33px
      height: 33px
      background: url(../img/icons/settings-header.svg) no-repeat

  &-arrow
    width: 60px
    height: 60px
    background: url(../img/icons/arrow.svg) no-repeat

  &-project
    width: 27px
    height: 34px
    background: url(../img/icons/file-project.svg) no-repeat
    background-size: contain

  &-search
    width: 30px
    height: 30px
    background: url(../img/icons/search.svg) no-repeat

  &-arrow-right
    width: 50px
    height: 50px
    background: url(../img/icons/arrow-right.svg) no-repeat

  &-plus
    width: 50px
    height: 50px
    background: url(../img/icons/plus.svg) no-repeat

  &-news-add
    width: 45px
    height: 45px
    background: url(../img/icons/news-add.svg) no-repeat

  &-laptop
    width: 70px
    height: 40px
    background: url(../img/icons/laptop.svg) no-repeat

  &-book
    width: 36px
    height: 42px
    background: url(../img/icons/book.svg) no-repeat

  &-change
    width: 34px
    height: 34px
    background: url(../img/icons/change.svg) no-repeat

  &-save
    width: 40px
    height: 40px
    background: url(../img/save-btn.svg) no-repeat

  &-del
    width: 34px
    height: 34px
    background: url(../img/icons/del.svg) no-repeat

    &:hover
       background: url(../img/icons/del-active.svg) no-repeat

  &-diagram
    width: 22px
    height: 22px
    background: url(../img/icons/diagram.svg) no-repeat
    background-size: contain

    &:hover
       background: url(../img/icons/diagram-active.svg) no-repeat

  &-diagram-2
    width: 22px
    height: 22px
    background: url(../img/icons/diagram-2.svg) no-repeat
    background-size: contain
    &:hover
       background: url(../img/icons/diagram-2-active.svg) no-repeat

  &-star
    width: 24px
    height: 24px
    background: url(../img/icons/star.svg) no-repeat
    background-size: contain

  &-people
    width: 29px
    height: 22px
    background: url(../img/icons/people.svg) no-repeat
    background-size: contain

  &-profile-2
    width: 40px
    height: 40px
    background: url(../img/icons/profile-2.svg) no-repeat

