@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------

.page
	min-height: 100%
	display: flex
	flex-direction: column
	background: url(../img/waves.svg) no-repeat center bottom
	background-size: contain

	&-inner

		.main-content
			padding-left: 24px
	

	&-line

		&__item
			position: absolute
			background: #C4C4C4

		&__vertical
			
			width: 2px

			&--one
				left: 54px

			&--two
				left: 285px

			&--three
				right: 91px


				
		&__horizontal
			height: 2px
			width: 100%
			left: 0
			right: 0

			&--one
				top: 54px

			&--two
				top: 165px

			&--three
				top: 470px


.header
	padding-top: 54px

	&-wrap
		position: relative
		display: flex
		flex-wrap: wrap

		&__btn
			position: absolute
			top: 0
			right: 0

		.btn-login
			margin-left: 25px
			height: 100%

	&-divider
		position: relative
		margin: 20px 0
		text-align: center

		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 50%
			width: 100%
			height: 2px
			background: #C4C4C4

		span
			position: relative
			padding: 0 22px
			background: #fff
			font-family: Raleway
			font-size: 28px
			line-height: 35px
			color: #C4C4C4



.logo
	margin-right: 40px
	padding: 13px 28px 12px
	height: 100%
	font-family: Raleway
	font-weight: bold
	font-size: 28px
	line-height: 35px
	color: $yellow
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2)
	border-radius: 15px


.main

	&-menu
		display: flex
		flex-wrap: wrap
		align-items: center
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2)
		border-radius: 15px
		list-style: none

		li
			display: inline-flex
			padding: 10px 0

			&:last-child
				a
					border: 0

			a
				display: inline-flex
				align-items: center
				padding: 5px 20px
				color: $light
				font-weight: bold
				font-size: 16px
				line-height: 19px
				border-right: 2px solid $light

				&:hover, &.active
					color: $red
					opacity: 1


					.ic
						&-profile
							background: url(../img/icons/profile-active.svg) no-repeat

						&-course
							background: url(../img/icons/course-active.svg) no-repeat

						&-news
							background: url(../img/icons/news-active.svg) no-repeat

						&-faculty
							background: url(../img/icons/faculty-active.svg) no-repeat

				span
					padding-left: 5px

				.ic, .icon
					font-size: 28px
					color: inherit

		&__mobile
			display: none
			position: sticky
			left: 0
			right: 0
			bottom: 0

.main
	flex: 1 1 auto

	&-wrap
		display: flex
		flex-wrap: wrap
		padding-top: 52px

	&-content
		position: relative
		width: calc(100% - 210px)
		padding-left: 40px



.sidebar
	width: 210px

	&-menu
		list-style: none

		li
			display: block
			margin-bottom: 20px
			a
				display: inline-flex
				align-items: center
				min-height: 55px
				padding: 10px 15px
				color: $light
				font-weight: bold
				font-size: 16px
				line-height: 19px
				box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
				border-radius: 15px
				text-align: center

						

				&.btn-large
					flex-direction: column
					max-width: 200px
					padding: 16px 40px
					font-size: 20px
					line-height: 23px

					span
						display: block
						padding: 0

					.color-grey
						font-weight: 300
						font-size: 16px
						line-height: 19px
						color: #c4c4c4

				&.btn-cancel
					padding: 16px 25px 18px
					font-size: 22px
					line-height: 26px


				&:hover, &.active
					color: $red
					opacity: 1

					.ic
						&-edit
							background: url(../img/icons/edit-active.svg) no-repeat

						&-settings
							background: url(../img/icons/settings-active.svg) no-repeat

						&-add-news
							background: url(../img/icons/add-news-active.svg) no-repeat

				span
					padding-left: 5px

				.ic, .icon
					font-size: 28px
					color: inherit

		&__mobile
			display: none




.profile
	display: flex
	flex-wrap: wrap
	margin-bottom: 24px


	&-avatar
		position: relative
		width: 240px
		height: 280px
		background: #E7F9FF
		border: 5px solid #FFFFFF
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
		border-radius: 60px

		img
			display: block
			border-radius: 60px
			max-height: 100%

		.attach
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			display: flex
			align-items: center
			justify-content: center

	&-data
		width: calc(100% - 240px)
		max-width: 605px
		min-height: 292px
		padding-left: 26px


		&__user
			position: relative
			margin-bottom: 8px
			padding: 16px 109px 16px 38px
			background: #E7F9FF
			border-radius: 5px

			&--name
				font-weight: 500
				font-size: 30px
				line-height: 35px
				color: #447C6C

			&--place
				display: flex
				flex-wrap: wrap
				align-items: center
				font-weight: 300
				font-size: 16px
				line-height: 19px
				color: #93B69A

				.icon
					margin-right: 2px
					font-size: 13px
					color: $light

			&--state
				position: absolute
				top: 15px
				right: 22px
				line-height: 21px
				color: #AFAFAF


		&__about
			display: inline-block
			position: relative
			width: 100%


			&.active
				background: #E7F9FF
				.profile-data__about--placeholder
					opacity: 0

			textarea
				height: 200px
				width: 100%
				padding: 16px 18px
				background-color: transparent
				border-radius: 5px
				border: 0
				outline: none
				font-size: 18px
				line-height: 21px
				color: #8F8F8F
				resize: none

				


			&--placeholder
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				padding: 8px 18px
				background: #E7F9FF
				z-index: -1
				transition: all .3s

				p
					margin-bottom: 18px
					line-height: 21px
					color: #8F8F8F

			&--counter
				position: absolute
				bottom: 9px
				right: 16px
				line-height: 21px
				color: #8F8F8F

			&--text
				color: #8F8F8F
				p
					color: #8F8F8F

			&--mobile
				display: none

	&-info

		&__header
			margin-bottom: 14px
			font-size: 28px
			line-height: 35px
			color: $grey


		&__wrap
			display: flex
			flex-wrap: wrap

		&__file
			width: 240px

			.attach
				margin-top: 24px

		&__content
			width: calc(100% - 240px)
			max-width: 605px
			padding-left: 26px







.attach
	
	input
		display: none

		&+label
			position: relative
			display: inline-block
			padding: 12px 50px 12px 20px
			font-weight: 500
			line-height: 21px
			color: #447C6C
			background: #FFFFFF
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
			border-radius: 15px
			cursor: pointer

			&:before
				content: '\e90a'
				position: absolute
				right: 15px
				top: 12px
				font-size: 24px
				font-family: icomoon
				color: #447C6C



.filter
	&-btn
		outline: none
		background-color: transparent
		border: 0
		cursor: pointer
		box-shadow: 0px 3.12329px 7.80822px rgba(0, 0, 0, 0.2)
		border-radius: 50%

		.ic
			position: relative
			top: 3px



.project
	&-detailed
		position: relative
		display: inline-flex
		align-items: center
		justify-content: center
		margin-top: 16px
		line-height: 16px
		color: #C4C4C4

		span
			padding-left: 13px

		

.btn
	position: relative
	display: inline-block
	padding: 16px 25px 18px
	font-size: 22px
	line-height: 26px
	font-family: Raleway
	color: $green
	font-weight: bold
	background: #fff
	border: 0
	outline: none
	background: #FFFFFF
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
	border-radius: 15px

	&-login
		padding: 15px 42px
		font-size: 24px
		line-height: 28px
		border: 4px solid transparent
		text-align: center
		background-clip: padding-box
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2)
		border-radius: 15px

		&:before
			content: ""
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			z-index: -1
			margin: -4px
			border-radius: inherit
			background: linear-gradient(to right, #E02626, #8D0EF0)

		&:hover, &:focus
			opacity: 1
			color: $green

	&-large
		padding: 30px 60px 35px
		font-size: 32px
		line-height: 35px
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2)
		border-radius: 50px

	&-main
		padding: 20px 30px
		font-size: 24px
		line-height: 28px
		background: #FFFFFF
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
		border-radius: 15px

	&-icon
		display: inline-flex
		align-items: center

		.icon
			font-size: 45px

		&__right
			padding: 10px 10px 10px 20px

			.ic, .icon
				margin-left: 16px


		&__left
			.ic, .icon
				margin-right: 16px



		&.btn-large
			padding: 30px 60px 35px

	&-play
		display: inline-flex
		align-items: center
		justify-content: center
		width: 145px
		height: 145px
		background: #FFFFFF
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
		border-radius: 50%

	&-small
		display: inline-flex
		align-items: center
		flex-wrap: wrap
		padding: 0 15px 0
		min-height: 50px
		font-size: 20px
		line-height: 23px

		.icon
			font-size: 34px
			line-height: 34px

		.ic, .icon
			margin-left: 11px

		.ic

			&-arrow-right
				width: 44px
				height: 44px
				background-size: contain

	&-transparent
		padding: 9px 15px 12px
		border: 3px solid #93B69A
		border-radius: 10px
		font-family: Roboto
		font-weight: 900
		font-size: 16px
		line-height: 19px

		.icon
			font-size: 22px
			padding-right: 7px

	&-save
		display: inline-flex

	
	&-green
		padding: 10px 20px
		background: #447C6C
		color: #fff
		box-shadow: none

		&:hover
			color: #fff

	
	&-point
		color: $red

		span
			position: relative

			&:after
				content: ''
				display: inline-block
				margin-left: 10px
				vertical-align: middle
				width: 8px
				height: 8px
				border-radius: 50%
				background: $red

	&-cancel
		padding: 16px 25px 18px
		font-size: 22px
		line-height: 26px




.login
	padding-bottom: 200px
	max-width: 600px
	margin-left: 200px
	text-align: center

	&-authorization
		padding-top: 180px
		

		p
			margin-bottom: 30px
			font-family: Raleway
			font-size: 28px
			line-height: 35px
			color: $grey


		.btn-login
			min-width: 200px

			&+p
				text-decoration: underline

				a
					color: #8F8F8F

		.form-search
			max-width: 360px
			margin: 0 auto 30px

		.btn
			margin-bottom: 30px

	.h3, h3
		margin-bottom: 45px

	&-registration

		&__btn
			list-style: none

		.btn
			margin-bottom: 30px


			&:hover
				color: #447c6c

			&-main
				padding: 20px 30px

			.icon
				font-size: 42px
				line-height: 42px

		.h3
			a
				color: #8f8f8f





.form

	&-item
		margin-bottom: 30px

		&__label
			margin-bottom: 7px
			font-weight: 500
			font-size: 18px
			line-height: 21px
			color: #8F8F8F


		select
			display: none

		.jq-selectbox
			position: relative
			width: 100%
			text-align: left

			&__select
				width: 100%
					
				&-text
					position: relative
					padding: 17px 70px 17px 20px
					background: #FFFFFF
					box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
					border-radius: 15px
					border: 0
					outline: none
					font-family: Raleway
					font-weight: bold
					font-size: 22px
					line-height: 26px
					color: $green


					&::after
						content: ''
						position: absolute
						right: 10px
						top: 5px
						width: 50px
						height: 50px
						background: url(../img/icons/arrow-select.svg) no-repeat
						background-size: contain
					


			&.opened
				.jq-selectbox__select-text
					border-color: #0e969e
					background: #fff

					&::after
						transform: rotate(180deg)

			.jq-selectbox__dropdown
				position: absolute
				top: 46px!important
				left: 0!important
				z-index: 999
				min-width: 100%
				max-width: 100%
				


				ul
					max-height: 145px !important
					list-style: none
					overflow-y: scroll
					border-top: none
					background: #eaf1f5
					border-radius: 0 0 4px 4px


					li
						padding: 14px 18px
						font-size: 14px
						line-height: 18px
						border-bottom: 1px solid rgba(256,256,256, .8)
						transition: all .3s
						cursor: pointer

						&:hover
							color: #000


					&::-webkit-scrollbar-track
						-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
						background-color: #EBEBEB


					&::-webkit-scrollbar
						width: 6px
						
						border-radius: 2px


					&::-webkit-scrollbar-thumb
						border-radius: 10px
						-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
						background: #0e969e

		&.point
		
			.jq-selectbox__select-text
				&::before
					content: ''
					position: absolute
					right: 15px
					bottom: 11px
					width: 14px
					height: 14px
					background-image: url(../img/point.svg)
					background-position: center
					background-color: #fff
					border-radius: 50%
					z-index: 1

		&__textarea
			position: relative

			textarea
				height: 130px
				width: 100%
				padding: 10px 20px
				background-color: transparent
				border-radius: 15px
				border: 0
				background: #E7F9FF
				outline: none
				font-size: 18px
				line-height: 21px
				resize: none

			&--small
				textarea
					height: 64px


			&--count
				position: absolute
				bottom: 10px
				right: 16px
				line-height: 21px
				color: #8F8F8F


	&-field
		width: 100%
		height: 55px
		padding: 0 30px
		line-height: 55px
		background: #E7F9FF
		border-radius: 30px
		border: 0
		outline: none




	&-course

		&__publish
			text-align: center

			.btn
				margin-top: 35px

		&__new
			.form
				&-item
					margin-bottom: 0

			.btn
				margin-bottom: 30px

		&__foto
			margin-bottom: 30px

			&--header
				margin-bottom: 10px
				font-family: Raleway
				font-size: 28px
				line-height: 35px
				color: #C4C4C4		

	&-search
		position: relative
		display: flex
		align-items: center
		justify-content: space-between
		padding: 15px
		background: #FFFFFF
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
		border-radius: 15px


		&__btn
			outline: none
			padding: 0
			border: 0
			background-color: transparent

		&__field
			width: calc(100% - 42px)
			height: 30px
			line-height: 30px
			border: 0
			border-bottom: 2px solid #C4C4C4
			font-size: 20px
			line-height: 23px

			&:focus
				outline: none

			&::-webkit-input-placeholder
				font-size: 20px
				line-height: 23px
				color: #C4C4C4

			&:-moz-placeholder 
				font-size: 20px
				line-height: 23px
				color: #C4C4C4

			&::-moz-placeholder 
				font-size: 20px
				line-height: 23px
				color: #C4C4C4

			&:-ms-input-placeholder 
				font-size: 20px
				line-height: 23px
				color: #C4C4C4

	&-registration
		max-width: 488px
		margin: 0 auto
		text-align: left

		p
			margin-bottom: 30px
			font-family: Raleway
			font-weight: 500
			font-size: 18px
			line-height: 21px
			color: #8F8F8F

		.btn
			&-large
				display: block
				min-width: 350px
				margin: 88px auto 0
				text-align: center


	&-support
		max-width: 687px

		.profile-data__about
			margin-bottom: 40px
			border-radius: 20px

			&--placeholder
				padding: 25px 27px
				background: rgba(227, 245, 255, 0.8)
				border-radius: 20px

				p
					font-size: 18px
					line-height: 21px
					color: rgba(143, 143, 143, 0.8)

			textarea
				height: 276px
				border-radius: 20px

	



.course
	
	

	&-item
		max-width: 540px
		margin-left: 200px
		margin-bottom: 35px
		padding: 40px
		background: #FFFFFF
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2)
		border-radius: 15px

		.h1
			margin-bottom: 30px
			text-align: left

		&__new
			max-width: 600px
			padding: 40px 60px 50px

			.btn
				&-large
					margin-bottom: 0

	&-search
		
		&__select
			margin-bottom: 65px

		&__tags
			margin-bottom: 65px

			.btn
				margin-right: 20px

			.h3
				margin-bottom: 20px
				text-align: left




.tag

	&-list
		margin-bottom: 20px

		&__item
			display: inline-block
			margin-bottom: 15px
			margin-left: 15px
			padding: 7px 25px 10px
			font-family: Raleway
			font-weight: bold
			font-size: 20px
			line-height: 23px
			color: $red
			background: #FFFFFF
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
			border-radius: 15px





.choice
	max-width: 780px
	margin-left: 120px
	padding-bottom: 55px
	overflow: hidden
	text-align: center

	&-slide

		>img
			display: block
			margin: 0 auto 25px

		.h1
			margin-bottom: 25px

		p
			margin-bottom: 70px
			font-family: Raleway
			font-size: 28px
			line-height: 35px
			color: #8F8F8F

	&-links
		padding-top: 25px

		.btn
			margin-bottom: 25px

		.h3
			margin-bottom: 25px



.swiper
	&-pagination
		position: static
		padding: 25px 0 0



		&-bullet
			margin: 0 15px !important
			width: 20px
			height: 20px
			border-radius: 50%
			background: #C4C4C4
			opacity: 1

			&-active
				background: #447C6C
		



.soc-btn
	list-style: none
	text-align: center

	&__item
		display: inline-block
		margin: 0 21px
		


.settings


	&-btn
		display: none
		margin-left: 15px
		outline: none
		background-color: transparent
		border: 0
		cursor: pointer


	&-list
		margin-left: 140px

		&__item
			margin-bottom: 20px

			.jq-selectbox
				max-width: 432px


		.btn
			position: relative

			&-icon
				border-radius: 20px 50px 50px 20px

		p
			margin-bottom: 20px
			font-size: 28px
			line-height: 35px
			color: #8F8F8F
			font-family: Raleway

		.form-item
			margin-bottom: 0


.ic, .icon
	
	&.point
		position: relative

		&:before
			content: ''
			position: absolute
			bottom: 6px
			right: 8px
			width: 14px
			height: 14px
			background: #fff
			border-radius: 50%
			z-index: 1

		&:after
			content: ''
			position: absolute
			bottom: 8px
			right: 9px
			width: 8px
			height: 8px
			border-radius: 50%
			background: #DB7063
			z-index: 2



.messager
	max-width: 760px
	margin-left: 146px
	padding: 10px
	background: #E7F9FF
	border-radius: 5px

	&-item
		display: flex
		flex-wrap: wrap
		border-top: 1px solid #E5E5E5
		padding: 10px 0
		
		


		&__img
			width: 70px

		&__link
			display: flex
			flex-wrap: wrap
			width: calc(100% - 70px)
			padding-left: 12px
			padding-top: 14px
			padding-bottom: 14px

		&__text
			width: calc(100% - 100px)


		&__user
			display: block
			font-family: Raleway
			font-weight: bold
			font-size: 20px
			line-height: 23px

		&__message
			padding-right: 16px
			font-weight: 500
			font-size: 16px
			line-height: 19px
			color: #AFAFAF

			&--your
				padding-right: 2px
				font-weight: 300
				font-size: 16px
				line-height: 19px

		&__time
			width: 100px
			font-size: 16px
			line-height: 19px
			color: #AFAFAF
			text-align: right



.chat
	display: flex
	flex-direction: column
	justify-content: space-between
	min-height: 684px
	max-width: 760px
	margin-left: 145px

	&-top
		display: flex
		flex-wrap: wrap
		align-items: center
		padding: 10px 15px
		background: #E7F9FF
		border-radius: 5px

		&__img
			width: 70px

		&__text
			display: flex
			flex-wrap: wrap
			align-items: center
			justify-content: space-between
			width: calc(100% - 70px)
			padding-left: 12px

		&__user

			&--name
				display: block
				font-family: Raleway
				font-weight: bold
				font-size: 20px
				line-height: 23px

			&--time
				width: 100px
				font-size: 16px
				line-height: 19px
				color: #AFAFAF


		
		&__search
			position: relative
			width: 60px
			height: 60px
			border-radius: 15px
			overflow: hidden

			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				background-color: transparent
				z-index: 10

			&--wrap
				.filter-btn
					display: none

			.form-search
				position: absolute
				right: 0
				top: 0
				bottom: 0

			&.active
				overflow: visible

				&:before
					display: none

				.form-search
					width: 358px

	&-field
		position: relative
		padding: 11px 16px 11px 60px
		background: #fff
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15)
		border-radius: 10px

		&:before
			content: '\e91b'
			position: absolute
			left: 18px
			top: 10px
			font-size: 30px
			color: #F06022
			font-family: icomoon



		textarea
			width: 100%
			height: 24px
			background: #fff
			border: 0
			outline: none
			border-bottom: 2px solid #C4C4C4
			font-size: 16px
			line-height: 19px
			resize: none

			&::-webkit-input-placeholder
				font-size: 16px
				line-height: 19px
				color: #C4C4C4

			&:-moz-placeholder 
				font-size: 16px
				line-height: 19px
				color: #C4C4C4

			&::-moz-placeholder 
				font-size: 16px
				line-height: 19px
				color: #C4C4C4

			&:-ms-input-placeholder 
				font-size: 16px
				line-height: 19px
				color: #C4C4C4
			





.message
	height: 590px
	display: flex
	flex-direction: column
	justify-content: flex-end

	&-item
		margin-bottom: 15px
		

		&__frend
			.message
				&-item
					&__text
						background: #DAEDFF

		&__my
			text-align: right
			.message
				&-item
					&__text
						background: #FFE3CA

			p
				color: #5E3300

		&__text
			display: inline-block
			padding: 10px 15px
			max-width: 454px
			border-radius: 15px
			text-align: left

		p

			font-size: 18px
			line-height: 21px
			color: #00445E

		&__time
			display: block
			text-align: right
			font-size: 16px
			line-height: 19px
			color: #8F8F8F



.news
	padding-bottom: 130px

	&-links
		display: flex
		flex-wrap: wrap
		margin-bottom: 15px


		.btn
			margin-right: 25px

			span
				&+.icon
					&+span
						padding-left: 35px

	&-wrap
		display: flex
		justify-content: space-between
		flex-wrap: wrap


	&-item
		display: flex
		flex-wrap: wrap
		width: 49%
		padding: 10px 10px 10px 20px
		margin-bottom: 28px
		background: #FFFFFF
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2)
		border-radius: 15px

		&__text
			display: flex
			flex-direction: column
			justify-content: space-between
			width: 70%
			padding-right: 10px


			.header-icon
				display: flex
				align-items: center

				span
					padding-left: 20px

			p
				margin-top: 15px
				margin-bottom: 15px
				font-weight: 300
				font-size: 18px
				line-height: 21px
				color: #C4C4C4

			&--source
				display: inline-block
				vertical-align: middle
				font-size: 18px
				line-height: 21px
				color: #C4C4C4


			&--date
				display: inline-block
				padding-left: 12px
				vertical-align: middle
				font-weight: 300
				font-size: 16px
				line-height: 19px
				text-decoration-line: underline
				color: #93B69A


		&__img
			width: 30%

			.btn-save
				display: none

		&__btn
			display: flex
			flex-wrap: wrap
			align-items: center

			.btn
				margin-right: 25px

	&-add
		padding-top: 130px
		text-align: center



.color-green
	color: $green

.line-through
	text-decoration: line-through





.courses
	padding-bottom: 130px

	&-item
		margin-bottom: 32px
		padding: 25px 0
		background: #FFFFFF
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
		border-radius: 15px

		.h4
			padding: 0 35px 20px
			border-bottom: 1.67px solid #E3E3E3

		&__text
			min-height: 250px
			padding: 20px 35px
			font-size: 18px
			line-height: 21px
			color: #8F8F8F

			p
				font-size: 18px
				line-height: 21px
				color: #8F8F8F

			ul
				list-style: none
				font-size: 18px
				line-height: 22px
				color: #8F8F8F

				li
					position: relative
					padding-left: 20px

					&:before
						content: ''
						position: absolute
						left: 7px
						top: 8px
						border-radius: 50%
						width: 4px
						height: 4px
						background: #8F8F8F

		&__bottom
			display: flex
			flex-wrap: wrap
			align-items: center
			justify-content: space-between
			padding: 0 35px 0


		&__price
			font-size: 18px
			line-height: 21px

			span
				display: block
				color: #8F8F8F

			strong
				color: #447C6C

	&-search
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		margin-left: 140px
		max-width: 826px

		&__select
			margin-bottom: 65px

		

		&__tags

			.h3
				margin-bottom: 20px
				text-align: left

			.btn
				margin-right: 20px

		&__form

			&--btn
				padding-top: 65px


.profession

	.row
		margin-left: -30px
		margin-right: -30px

		[class^='col']
			padding-left: 30px
			padding-right: 30px

	&-item
		display: flex
		flex-wrap: wrap
		align-items: center
		margin-bottom: 20px
		padding: 12px 15px 13px 20px
		background: #FFFFFF
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
		border-radius: 15px 60px 60px 15px

		.btn

			border-radius: 10px 25px 25px 10px
			padding-right: 8px
			font-size: 16px
			line-height: 19px

			&-small
				.ic-arrow-right, .icon-arrow-right
					width: 34px
					height: 34px
					margin-left: 6px

		&__text
			width: calc(100% - 156px)
			padding-right: 10px
			font-family: Raleway
			font-weight: bold
			font-size: 24px
			line-height: 28px
			color: #447C6C



.poster
	max-width: 1200px
	display: flex
	flex-wrap: wrap
	justify-content: space-between


	&-settings

		.h3
			margin-bottom: 20px
			text-align: left





		.form
			&-item
				padding-top: 15px

				.h3
					margin-bottom: 10px

				&__textarea
					max-width: 460px
					margin-bottom: 20px


	&-result

		.h3
			margin-bottom: 20px
			text-align: left

		.news
			&-item
				width: auto
				max-width: 590px




.select

	&+.select2

		&-container
			max-width: 454px

	



.select2

	&-container
		max-width: 400px
		width: 100% !important

		.select2
			&-selection
				&--single
					height: auto
					border: 0
					border-radius: 15px
					z-index: 2000

		&--default 
			.select2-selection--single
				.select2-selection__placeholder
					color: #447C6C

				.select2-selection__rendered
					color: #447C6C

			.select2-search--dropdown
				padding: 12px 0
				box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
				border-radius: 15px

				.select2-search__field
					border: 0
					border-bottom: 2px solid #C4C4C4
			
		
		.select2-results__option
			font-size: 20px
			line-height: 23px
			color: #447C6C
			font-weight: bold

			&--selected
				background: none



			&--highlighted.select2-results__option--selectable
				background-color: transparent
				color: #DB7063
			


		&--open
			.select2
				&-dropdown--below
					padding: 40px 30px 40px
					top: -40px
					left: -30px
					right: -30px
					margin: auto
					width: calc(100% + 60px) !important
					border: 4px solid #C4C4C4
					border-radius: 15px

				&-selection
					&:after
						transform: rotate(-180deg)




	&-selection
		position: relative
		height: auto
		padding: 17px 60px 17px 20px
		background: #FFFFFF
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
		border-radius: 15px
		border: 0
		outline: none
		font-family: Raleway
		font-weight: bold
		font-size: 22px
		line-height: 26px
		color: $green

		&__arrow
			display: none


		&::after
			content: ''
			position: absolute
			right: 10px
			top: 5px
			width: 50px
			height: 50px
			background: url(../img/icons/arrow-select.svg) no-repeat
			background-size: contain

	&-dropdown
		border: 0
		border-radius: 15px




	&-search

		.select2-search--dropdown
			padding: 12px 0


		&__field
			padding: 0
			max-width: calc(100% - 30px)
			margin: 0 15px
			height: 30px
			line-height: 30px
			border: 0
			border-bottom: 2px solid #C4C4C4
			font-size: 20px
			line-height: 23px
			

			&:focus
				outline: none

			&::-webkit-input-placeholder
				font-size: 20px
				line-height: 23px
				color: #C4C4C4

			&:-moz-placeholder 
				font-size: 20px
				line-height: 23px
				color: #C4C4C4

			&::-moz-placeholder 
				font-size: 20px
				line-height: 23px
				color: #C4C4C4

			&:-ms-input-placeholder 
				font-size: 20px
				line-height: 23px
				color: #C4C4C4












.faculty
	max-width: 1115px
	padding-bottom: 150px

	&-top
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 20px

		.form-item
			min-width: 410px

			.select2-container
				min-width: 410px

	&-settings
		display: inline-flex
		align-items: center
		padding: 10px 15px 10px 20px
		background: #FFFFFF
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
		border-radius: 15px

		&__btn
			display: inline-flex
			align-items: center


			&--item
				margin-left: 7px
				outline: none
				padding: 0
				border: 0
				background-color: transparent

				&:active
					outline: 0


	&-name
		padding-right: 10px
		font-family: Raleway
		font-weight: bold
		font-size: 24px
		line-height: 28px
		color: #DB7063

	
	.h3
		margin-bottom: 50px
		text-align: left



	&-form
		max-width: 400px

		.form-item
			margin-bottom: 15px


		.btn
			margin-top: 35px

	&-info

		.h3
			margin: 20px 0 50px
			text-align: left


	&-pages

		&__links
			list-style: none

			li
				margin-bottom: 20px

				a
					&:hover
						opacity: 1
						color: $red








.blog
	h1, .h1
		margin-bottom: 65px
		text-align: left


.article
	margin-bottom: 65px
	max-width: 500px

	img
		display: block
		margin: 0 0 65px

	.h2, h2
		margin-bottom: 15px
		font-size: 28px
		line-height: 35px

	.h3, h3
		font-family: Raleway
		font-weight: bold
		font-size: 24px
		line-height: 28px
		color: #447C6C
		text-align: left

	&-date
		display: block
		margin-bottom: 6px
		font-family: Roboto
		font-weight: 300
		font-size: 18px
		line-height: 21px
		color: #93B69A

	p
		margin-bottom: 10px
		padding-left: 10px
		border-left: 2px solid #93B69A
		font-size: 18px
		line-height: 21px
		color: #8F8F8F

	.btn
		margin-bottom: 30px



.advantages
	max-width: 415px

	&-wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between

	&-item
		width: 48.5%
		padding: 10px
		height: 100%
		margin-bottom: 15px
		background: #FFFFFF
		text-align: center
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
		border-radius: 15px
		font-size: 16px
		line-height: 19px
		color: #93B69A


.test
	max-width: 600px
	margin-left: 230px

	.h2
		margin-bottom: 0
		text-align: left

	.h3
		text-align: left

	&-block
		padding-top: 60px

		&__item
			margin-bottom: 20px

			input[type='radio']
				display: none

				&+label
					display: inline-block
					padding: 16px 25px 18px
					background: #FFFFFF
					box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
					border-radius: 15px
					font-family: Raleway
					font-weight: bold
					font-size: 22px
					line-height: 26px
					color: #C4C4C4
					cursor: pointer

					&:hover
						color: $light

				&:checked

					&+label
						color: $red

		&__btn
			padding-top: 60px
			text-align: center



.university
	
	&-form
		padding-left: 76px
		&__btn
			padding-top: 65px


.double
	&-btn
		display: inline-flex
		padding: 10px 20px
		background: #FFFFFF
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
		border-radius: 15px

		.btn
			display: inline-flex
			align-items: center
			padding: 0
			box-shadow: none

			.ic, .icon
				margin-left: 10px

			&+.btn
				margin-left: 35px


.compare

	&-table
		display: table
		width: 100%
		padding-top: 50px
		max-width: 1200px

		&__tr
			display: table-row

		&__td
			display: table-cell
			width: 25%
			padding: 15px 20px
			vertical-align: middle

			&:first-child
				padding-left: 0

			&:last-child
				padding-right: 0

		&__header
			display: inline-flex
			align-items: center

			.ic, .icon
				margin-right: 5px

			span
				font-weight: 500
				font-size: 18px
				line-height: 21px
				color: #C4C4C4


		&__value
			font-weight: bold
			font-size: 90px
			line-height: normal
			text-align: center
			color: #E3E3E3


	&-universities

		&__btn
			display: flex
			flex-wrap: wrap
			align-items: center
			margin-bottom: 35px

			.btn
				margin-right: 35px

		form

			.btn
				margin-top: 15px


	&-criterion
		&__radio
			list-style: none

			li
				margin-bottom: 20px
				
			input[type='radio']
				display: none

				&+label
					display: inline-flex
					align-items: center
					padding: 9.5px 12px 11.5px
					background: #FFFFFF
					box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
					border-radius: 15px
					font-family: Raleway
					font-weight: bold
					font-size: 18px
					line-height: 21px
					color: #C4C4C4
					cursor: pointer

					span
						width: calc(100% - 30px)

					.ic, .icon
						margin-right: 5px
						font-size: 26px
						color: #C4C4C4

					&:hover
						color: $red

						.icon
							color: $red

						.ic
							&-diagram
								background: url(../img/icons/diagram-active.svg) no-repeat

							&-diagram-2
								background: url(../img/icons/diagram-2-active.svg) no-repeat

				&:checked

					&+label
						color: $red

						.icon
							color: $red

						.ic
							&-diagram
								background: url(../img/icons/diagram-active.svg) no-repeat

							&-diagram-2
								background: url(../img/icons/diagram-2-active.svg) no-repeat

.visible-md
	display: none



.reviews
	padding-bottom: 100px

.blog
	max-width: 1115px
























@media screen and (max-width: 1599px)

	body
		font-size: 16px

	.header
		padding-top: 20px

	.page
		&-line
			&__horizontal
				&--one
					top: 18px

				&--two
					top: 131px

				&--three
					top: 448px

	.profile
		&-data
			&__about
				&--placeholder
					p
						margin-bottom: 16px
						font-size: 16px
						line-height: 19px

				&--counter
					font-size: 16px
					line-height: 19px

		&-info

			&__header
				margin-bottom: 25px
				font-size: 28px
				line-height: 31px

	.page
		&-main
			background-size: 99%

	.main-menu 
		li
			&:first-child
				a
					padding-left: 20px

			&:last-child
				a
					padding-right: 20px

			a
				padding: 5px 13px
				border: none

	.container
		padding-left: 12px
		padding-right: 12px


	.btn
		padding: 12px 25px 14px
		font-size: 20px
		line-height: 23px

		&-login
			padding: 13px 30px
			font-size: 22px
			line-height: 26px

		&-large 
			padding: 25px 60px 30px
			font-size: 30px
			line-height: 35px


			&.btn
				&-icon
					padding: 27px 40px 28px
					font-size: 30px

		&-main
			font-size: 22px

		&-icon
			padding: 10px 10px 10px 20px
			font-size: 20px

		&-play
			width: 130px
			height: 130px

			img
				max-width: 36px


	.main
		&-wrap
			padding-top: 25px


	.login

		margin-left: 120px
		&-authorization
			padding-top: 130px

			p
				margin-bottom: 25px
				font-size: 26px
				line-height: 31px

		&-registration

			.h1
				margin-bottom: 7px

			.btn
				margin-bottom: 25px
				text-align: left

				&-large
					text-align: center

				&-main
					padding: 14px 20px


	.h1, h1
		font-size: 32px
		line-height: 38px

	.h2, h2
		font-size: 30px

	h3, .h3
		font-size: 26px
		line-height: 31px


	.choice
		max-width: 684px

		&-slide

			>img
				max-width: 482px

			p
				margin-bottom: 60px
				font-size: 26px
				line-height: 31px

	.settings
		&-list 
			.btn
				padding-top: 5px
				padding-bottom: 5px

			p
				font-size: 26px
				line-height: 31px

	.form
		&-support
			.btn
				font-size: 20px

	.messager
		margin-left: 0

	.chat
		margin-left: 0


	.news
		&-links
			.btn
				padding: 7px 10px 9px 15px
				height: 100%

	.news
		&-item
			p
				font-size: 16px
				line-height: 19px

			&__text

				&--source
					font-size: 16px
					line-height: 19px

				&--date
					font-size: 15px
			&__btn

				.btn
					margin-right: 10px
					padding: 7px 15px 10px
					font-size: 16px
					line-height: 19px
					border-radius: 10px

	
	.courses
		max-width: 798px
		.row
			flex-wrap: wrap

			[class^='col']
				width: 50%
				max-width: 414px
				flex: auto

		&-search
			margin-left: 0


	.profession
		padding-right: 60px

		&-item

			&__text
				font-size: 22px
				line-height: 26px

			.btn
				padding: 7px 9px 8px 14px


	.faculty
		max-width: 962px
		.h3
			font-size: 28px
			line-height: 35px

		&-top

			.form-item
				margin: 0

	.blog

		.row
			margin-left: 0
			margin-right: 0

			[class^='col']
				padding-left: 0
				padding-right: 0

	.test
		margin-left: 134px

	.university
		&-form
			padding-right: 15px






















































@media screen and (max-width: 1279px)

	body
		min-height: 840px

	

	.header
		padding-top: 12px

		&-divider
			span
				font-size: 22px
				line-height: 26px

	.page
		&-line
			&__horizontal
				&--one
					top: 10px

				&--two
					top: 82px

				&--three
					top: 344px

			&__vertical

				&--one
					left: 10px

				&--two
					display: none

				&--three
					right: 10px



	.logo
		margin-right: 22px
		font-size: 24px
		line-height: 28px

	.main-menu

		li

			a
				padding: 5px 13px
				font-size: 15px

				.ic, .icon
					display: none

				span
					padding: 0

	.ic
		&-arrow
			width: 50px
			height: 50px
			background-size: contain


	.filter-btn 
		.ic
			top: 1px

	.sidebar
		width: 75px

		&-menu 
			li
				margin-bottom: 15px

				a
					padding: 0
					width: 50px
					height: 50px
					min-height: 0
					display: flex
					align-items: center
					justify-content: center

					span
						display: none

					.icon
						font-size: 30px

					.ic
						&-add-news
							width: 30px
							height: 30px

	.main
		&-wrap
			padding-top: 20px

		&-content
			width: calc(100% - 75px)
			padding-left: 0


	.profile
		margin-bottom: 60px

		&-avatar
			width: 200px
			height: 200px

			img
				height: 200px
				width: 200px
				object-fit: cover

		&-data
			min-height: 0
			&__user
				padding: 6px 109px 11px 36px

				&--name
					font-size: 28px
					line-height: 28px

			&__about
				textarea
					height: 125px
				&--placeholder
					p
						margin-bottom: 14px
						font-size: 16px
						line-height: 18px

		&-info
			&__header
				margin-bottom: 10px
				font-size: 22px
				line-height: 26px
				font-family: Raleway

			&__content
				padding-left: 15px

	.attach 
		input
			&+label
				padding: 11px 42px 11px 13px

				&:before
					font-size: 21px
					top: 11px
					right: 10px
	


	.btn

		&-login
			padding: 10px 26px
			font-size: 20px
			line-height: 23px

		&-large 
			padding: 19px 60px 22px
			font-size: 26px
			line-height: 33px

		&-main
			font-size: 20px
			line-height: 23px
			border-radius: 20px

		&-icon
			&__right
				padding: 5px 10px 5px 20px
		
			&.btn
				&-large
					padding: 20px 60px 25px

		&-play
			width: 110px
			height: 110px

			img
				max-width: 30px

		&-cancel
			position: relative

			span
				display: none


			&:before
				content: '🗙'
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				display: flex
				align-items: center
				justify-content: center
				font-size: 30px
				color: #93B69A


	.h1, h1
		font-size: 28px
		line-height: 33px

	.h2, h2
		font-size: 28px
		line-height: 33px

	h3, .h3
		
	.form
		&-item
			margin-bottom: 25px

			&__label
				font-size: 16px
				line-height: 19px

			&__textarea

				textarea
					font-size: 18px
					line-height: 19px

				&--count
					font-size: 16px
					line-height: 19px

		&-field
			height: 50px

			&::-webkit-input-placeholder
				font-size: 16px
				line-height: 19px


			&:-moz-placeholder 
				font-size: 16px
				line-height: 19px

			&::-moz-placeholder 
				font-size: 16px
				line-height: 19px

			&:-ms-input-placeholder 
				font-size: 16px
				line-height: 19px

	
		&-courses
			&__foto
				&--header
					margin-bottom: 10px
					font-size: 22px
					line-height: 26px

		

		&-support
			.btn
				font-size: 18px
				line-height: 21px
		


	.courses
		&-item
			&__new 

				.btn
					&-large
						display: block
						max-width: 414px
						margin: 40px auto 0

				.jq-selectbox
					max-width: 400px



	.course
	
		&-item
			margin-left: 120px




	.choice
		max-width: 600px

		.h1
			margin-bottom: 15px

		&-slide

			>img
				max-width: 280px

			p
				margin-bottom: 40px
				font-size: 22px
				line-height: 26px


	.swiper
		&-pagination
			padding-top: 20px

			&-bullet
				width: 15px
				height: 15px
				margin: 0 12px !important


	.settings
		

		&-list
			max-width: 480px
			margin: 0 auto
			padding: 0 60px

			.btn
				&-icon


					.ic
						width: 40px
						height: 40px
						background-size: contain

						&.point

							&:after
								width: 6px
								height: 6px
								bottom: 6px
								right: 8px

							&:before
								width: 12px
								height: 12px
								bottom: 3px
								right: 5px

			p
				font-size: 22px
				line-height: 26px


	.messager
		max-width: 600px
		margin-left: 70px
		
		&-item
			align-items: center

			&__img
				max-width: 55px

			&__link
				width: calc(100% - 60px)
				padding-top: 0
				padding-bottom: 0

			&__user
				font-size: 18px
				line-height: 21px

	.chat
		max-width: 600px
		height: 456px
	
	.message
		&-item
			
			p
				font-size: 16px
				line-height: 19px


	.news
		&-item
			p
				font-size: 16px
				line-height: 19px

			&__text

				.h4, h4
					font-size: 18px
					line-height: 21px

				.h4, h4
					font-size: 16px
					line-height: 18px


			&__btn

				.btn

					&-save
						display: none

			&__img
				position: relative

				&--wrap
					position: relative
				a
					display: inline-block
					

				.btn-save
					display: block
					position: absolute
					right: 5px
					bottom: 12px
					background: #fff
					border-radius: 50px
					z-index: 1

		&-add
			padding-top: 70px

			.btn-large.btn-icon
				padding: 12px 60px 14px
				font-size: 24px
				line-height: 28px



	.profession
		padding-right: 48px

		.row 
			[class^=col]
				padding-left: 25px
				padding-right: 25px

		&-item

			&__text
				font-size: 18px
				line-height: 22px


	.poster
		max-width: 858px

		.h3
			font-size: 22px
			line-height: 26px

		&-settings
			max-width: 390px

		&-result
			max-width: 440px


	.faculty
		max-width: 830px
		.h3
			margin-bottom: 22px
			font-size: 22px
			line-height: 26px

		&-top
			margin-bottom: 35px

			.form-item
				margin: 0

		&-form
			.btn
				margin-top: 12px

	
	.select2-container
		max-width: 340px

		.select2-results__option
			font-size: 18px
			line-height: 21px

		&--open
			.select2-dropdown--below
				top: -30px

	.select2-selection
		padding: 12px 52px 12px 20px
		font-size: 18px
		line-height: 21px

		&:after
			content: ''
			width: 42px
			height: 42px
			top: 7px

	.select2-container--default 
		.select2-search--dropdown
			padding: 10px 0

	
	.tag
		&-list

			&__item
				font-size: 17px
				line-height: 20px

	.test
		margin-left: 134px
		max-width: 464px

		.h3
			font-size: 22px
			line-height: 26px

		&-block
			&__item 
				input[type=radio]
					&+label
						padding: 11px 25px 13px 
						font-size: 18px
						line-height: 21px	

	.university
		&-form
			padding-left: 0



	.faculty
		&-info
			.h3
				margin: 12px 0 48px
				font-size: 22px
				line-height: 26px

				.ic
					width: 42px
					height: 42px

			.btn
				&-icon
					padding: 0px 10px 0px 20px


































@media screen and (max-width: 999px)

	.page
		background: transparent

		&-inner
			background: url(../img/waves-mobile.svg) no-repeat center bottom
			background-size: 100%

		&-chat
			background: #fff
			.header
				display: none

			.main
				height: 100vh

				>.container
					height: 100%

				&-wrap
					padding-top: 0
					height: 100%



	.header
		padding-top: 5px

		&-wrap
			justify-content: space-between
			height: 50px
			align-items: center
			padding-left: 15px
			padding-right: 10px
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
			border-radius: 10px

			&__btn
				position: static
				display: flex
				flex-wrap: wrap
				align-items: center

		.btn
			&-login
				display: none

		


	.filter
		&-btn
			border-radius: 0
			box-shadow: none

			.ic
				width: 22px
				height: 22px
				background: url(../img/icons/chevron-dubble.svg) no-repeat
				background-size: contain


	.settings
		&-btn
			display: block

	.logo
		height: auto
		padding: 0
		font-size: 22px
		line-height: 26px
		box-shadow: none

	.main
		&-menu
			display: none

			&__mobile
				display: flex
				flex-wrap: wrap
				justify-content: center
				margin: 0 10px
				background: #FFFFFF
				box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
				border-radius: 15px

				li
					padding: 10px 0
					margin: 0 22px

					&:first-child, &:last-child
						a
							padding: 0

					a
						display: flex
						align-items: center
						justify-content: center
						width: 30px
						height: 30px
						padding: 0

						.ic, .icon
							display: block



		&-content
			width: 100%

		&-wrap
			padding-top: 10px

	.page-inner
		.main-content
			padding: 0

	.page-line__item
		display: none

	.sidebar
		display: none

		&-menu

			&__mobile
				display: flex
				flex-wrap: wrap

				

				li
					margin: 0 10px

					a

						height: auto
						width: auto
						flex-direction: column
						justify-content: center
						box-shadow: none

						span
							display: block
							padding: 5px 0 0
							font-weight: 300
							font-size: 14px
							line-height: 16px
							color: #447C6C

						.icon
							display: inline-flex
							width: 30px
							height: 30px
							align-items: center
							justify-content: center
							font-size: 30px
							line-height: 30px

						.ic
							width: 30px
							height: 30px
							background-size: contain



	.profile
		margin-bottom: 15px
		&-avatar
			width: 150px
			height: 160px
			border: 2px solid #FFFFFF
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
			border-radius: 20px

			img
				width: 150px
				height: 160px
				border-radius: 20px

			.attach 
				input
					&+label
						width: 55px
						height: 55px
						display: flex
						align-items: center
						justify-content: center
						padding: 0
						font-size: 0
						text-indent: -999px

						&:before
							content: ''
							left: 0
							right: 0
							top: 0
							bottom: 0
							background-image: url(../img/icons/file-image.svg)
							background-repeat: no-repeat
							background-position: center


		&-data
			width: calc(100% - 150px)
			padding-left: 10px


			&__user
				margin-bottom: 16px
				padding: 10px 82px 13px 20px

				&--name
					font-size: 18px
					line-height: 21px

				&--place
					font-size: 14px
					line-height: 16px
					font-weight: 300

					.icon
						position: relative
						top: -1px
						margin-right: 4px
						font-size: 12px

				&--state
					top: 10px
					right: 10px
					font-size: 14px
					font-weight: 300

			&__about
				display: none

				&--mobile
					display: block
					margin-bottom: 25px

				&--placeholder
					padding: 0
					padding-left: 10px
					background-color: transparent

					p
						font-size: 15px
						line-height: 18px

				textarea
					min-height: 90px
					height: auto
					padding: 0
					padding-left: 10px
					font-size: 15px
					line-height: 18px
					border-left: 2px solid $light
					border-radius: 0

				&.active
					background-color: transparent

				&--text
					padding-left: 10px
					border-left: 2px solid #93b69a
					p
						margin-bottom: 15px
						font-size: 15px
						line-height: 18px


		&-info

			&__header
				font-size: 18px
				line-height: 22px

	.container
		padding-left: 10px
		padding-right: 10px

	.attach input+label
		line-height: 19px

	.visible-md
		display: block

	.login
		padding-top: 15px
		margin: 0 auto
		max-width: 500px
		padding-bottom: 100px

		.h1
			margin: 0 0 2px
			font-size: 24px
			line-height: 28px

		.h3
			margin-bottom: 20px
			font-size: 16px
			line-height: 19px

		&-authorization
			padding-top: 90px

			p
				font-size: 18px
				line-height: 21px

			.btn
				min-width: 0
				margin-bottom: 15px

			.form

				&-search
					max-width: 280px
					margin: 0 auto 15px

		&-registration 
			.btn
				margin-bottom: 15px
				font-size: 18px
				line-height: 21px
				border-radius: 10px

				.icon
					font-size: 28px
					line-height: 28px

				.ic
					width: 28px
					height: 28px

					&-laptop
						width: 37px
						height: 22px

	.btn
		font-size: 16px
		line-height: 19px

		&-login
			padding: 10px 30px 12px
			margin-bottom: 25px
			font-size: 22px
			line-height: 26px

		&-large 
			padding: 16px 30px 18px
			font-size: 22px
			line-height: 26px

		&-main
			font-size: 18px
			line-height: 21px
			border-radius: 50px

		&-icon
			&__right 
				.ic, .icon
					margin-left: 5px

			&.btn
				&-large
					padding: 16px 30px 18px
					font-size: 22px
					line-height: 26px

			&__left

				&.btn
					&-small
						display: inline-flex
						min-height: 0 
						padding: 7.5px 10px
						font-size: 16px
						line-height: 19px
						border-radius: 30px
						color: #93B69A
						box-shadow: none
						border: 2px solid #93B69A

						.icon
							margin-left: 0
							margin-right: 5px
							font-size: 18px
							line-height: 18px


		&-play
			width: 90px
			height: 90px

			img
				max-width: 24px

	.form

		&-search
			padding: 8px
			border-radius: 10px


			&__btn
				outline: none
				padding: 0
				border: 0
				background-color: transparent

			&__field
				width: calc(100% - 32px)
				height: 20px
				line-height: 20px
				border: 0
				border-bottom: 1.5px solid #C4C4C4
				font-size: 14px
				line-height: 16px

				&:focus
					outline: none

				&::-webkit-input-placeholder
					font-size: 14px
					line-height: 16px

				&:-moz-placeholder 
					font-size: 14px
					line-height: 16px

				&::-moz-placeholder 
					font-size: 14px
					line-height: 16px

				&:-ms-input-placeholder 
					font-size: 14px
					line-height: 16px



		&-item
			margin-bottom: 15px

			&__textarea

				textarea
					height: 90px
					font-size: 15px
					line-height: 18px

				&--count
					font-size: 15px
					line-height: 18px

		&-field
			&::-webkit-input-placeholder
				font-size: 15px
				line-height: 18px
				font-family: Roboto
				color: #A9A9A9
				font-weight: normal

			&:-moz-placeholder 
				font-size: 15px
				line-height: 18px
				font-family: Roboto
				color: #A9A9A9
				font-weight: normal

			&::-moz-placeholder 
				font-size: 15px
				line-height: 18px
				font-family: Roboto
				color: #A9A9A9
				font-weight: normal

			&:-ms-input-placeholder 
				font-size: 15px
				line-height: 18px
				font-family: Roboto
				color: #A9A9A9
				font-weight: normal

		&-courses
			&__publish
				.btn
					margin-top: 25px

		&-support
			max-width: 100%
			padding: 0 60px
			margin-top: 15px
			text-align: center

			.profile-data__about
				display: block
				width: 100%
				border-radius: 15px
				margin-bottom: 30px

				

				textarea
					padding: 10px 20px
					border: 0 
				
				&--placeholder
					padding: 10px 20px
					border-radius: 15px
					text-align: left

					p
						margin-bottom: 16px
						font-size: 15px
						line-height: 18px

				&--counter
					font-size: 13px
					line-height: 15px

				&.active

					background: #E7F9FF
			
			.btn
				border-radius: 15px



	.ic
		&-search
			width: 23px
			height: 23px
			background-size: contain



		&-arrow-right, &-plus, &-news-add, &-profile-2
			width: 36px
			height: 36px
			background-size: contain

		&-laptop
			width: 48px
			height: 30px
			background-size: contain

		&-book
			width: 30px
			height: 34px
			background-size: contain



	.h3, h3
		font-size: 20px
		line-height: 24px


	.course
	
		&-item
			margin: 0 auto 30px
			padding: 20px 30px
			max-width: 90%


	.select2-selection
		padding: 12px 40px 12px 12px
		font-size: 15px
		line-height: 20px

		&:after
			top: 8px
			width: 36px
			height: 36px

	.h1, h1
		font-size: 22px
		line-height: 26px

	.h2, h2
		margin-bottom: 20px
		font-size: 22px
		line-height: 26px

	.jq-selectbox__select-text
		padding: 17px 40px 17px 20px
		font-size: 16px
		line-height: 22px

		&:after
			width: 33px
			height: 33px
			top: 12px


	.choice
		max-width: 340px
		margin: 0 auto

		&-slide 

			p
				margin-bottom: 25px
				font-size: 18px
				line-height: 21px

				br
					display: none


	.swiper
		&-pagination
			display: flex

			&-bullet
				width: 100%
				height: 5px
				margin: 0 7.5px
				border-radius: 6px



	.choice
		&-slide 
			p
				margin-bottom: 20px
				font-size: 16px
				line-height: 18px



	.settings
	
		&-list
			padding: 0 50px

			.btn
				&-icon
					padding-left: 15px

					span
						width: calc(100% - 40px)

			&__item
				margin-bottom: 12px

			p
				margin-bottom: 10px
				font-size: 18px
				line-height: 21px


	.messager
		margin: 0 30px
		background: #fff

		&-item
			&__message
				font-size: 14px
				line-height: 18px

			&__time
				width: 80px
				font-size: 14px
				line-height: 18px

			&__text
				width: calc(100% - 80px)


	.chat
		max-width: 465px
		margin: 5px auto 0
		height: calc(100% - 10px)

		&-top
			padding: 5px 7.5px
			background: #fff
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
			border-radius: 10px

			&__img
				width: 40px

			&__user

				&--name
					font-size: 18px
					line-height: 21px
					color: #00445E

				&--time
					font-size: 15px
					line-height: 18px

			&__search
				width: 39px
				height: 39px

				&.active

					.form
						&-search
							width: 230px

				&--wrap
					display: flex
					width: 77px

					.filter-btn
						display: block


			&__text
				width: calc(100% - 40px)
				padding-left: 10px


	.message
		justify-content: flex-start
		padding-top: 10px
		padding-left: 30px
		padding-right: 30px


		&-item
			margin-bottom: 8px
			&__text
				max-width: 356px
				padding: 10px 12px
				border-radius: 10px

				p
					font-size: 15px
					line-height: 18px

			&__time
				font-size: 14px
				line-height: 16px


	.hidden-md
		display: none

	.news
		&-wrap
			display: block

		&-item
			width: auto
			justify-content: space-between

			&__img
				max-width: 190px

	.courses 
		.row
			margin-left: 0
			margin-right: 0
	

	
	.poster
		max-width: 400px
		margin: 0 auto

		.h3
			margin-bottom: 15px
			font-size: 18px
			line-height: 21px

		&-settings
			width: 100%
			max-width: none

			.form-item__textarea
				margin-bottom: 15px

				textarea
					height: 50px

				&+.form-item__textarea
					textarea
						height: 80px

				

			.form-item
				padding-top: 0

		&-result
			width: 100%
			padding-top: 15px
			max-width: none


	.faculty
		max-width: 400px
		margin: 0 auto
		padding-bottom: 50px

		.h3
			margin-bottom: 30px
			font-size: 18px
			line-height: 21px

		&-top
			margin-bottom: 10px

			.form-item
				margin: 0

		&-form
			text-align: center

			.btn
				margin-top: 20px
				border-radius: 10px

			.form

				&-item
					text-align: left
		
		&-settings
			padding: 8px 15px

			&__btn

				&--item
					.ic
						width: 28px
						height: 28px

						&-settings
							width: 32px
							height: 32px

					.icon
						font-size: 28px

		&-name
			font-size: 18px
			line-height: 21px

		.select2-selection
			padding: 10px 40px 10px 12px


	.select2-container
		max-width: 320px

		.select2-results__option
			font-size: 16px
			line-height: 19px

		&--open
			.select2-dropdown--below
				padding: 30px 30px 10px
				width: calc(100% + 40px)!important
				right: auto
				left: -33px
				top: -22px

		.select2-selection--single 
			.select2-selection__rendered
				padding-right: 0

	.select2-selection
		padding: 5px 38px 5px 10px
		font-size: 16px
		line-height: 19px

		&:after
			content: ''
			width: 33px
			height: 33px
			top: 4px
			right: 4px

	.select2-search__field
		height: 20px


	.blog 
		.h1, h1
			margin-bottom: 30px
			font-size: 24px
			text-align: center

	.article
		margin-bottom: 40px

		img
			margin-bottom: 0
			

		.h2, h2
			font-size: 22px
			line-height: 28px


		.h3, h3
			font-size: 18px
			line-height: 24px

		p
			font-size: 16px
			line-height: 19px

	.advantages
		&-item
			font-size: 14px
			line-height: 16px
	
	.test
		margin: 0 auto

		.h3
			font-size: 20px
			line-height: 24px

		&-block
			padding-top: 30px

			&__btn
				padding-top: 30px


	.compare

		&-table

			&__td
				padding: 10px

			&__header

				span
					font-size: 14px
					line-height: 16px

			&__value
				font-size: 50px

	.faculty
		&-info
			.h3
				font-size: 20px
				line-height: 24px


			.btn
				&-icon
					padding: 5px 10px 5px 20px















@media screen and (max-width: 768px)
	
	.news
		&-wrap
			padding-left: 30px
			padding-right: 30px

		&-item
			padding: 5px 5px 5px 15px
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)
			border-radius: 15px
			&__img
				max-width: 90px
				width: 90px

				&--wrap
					height: 100%
				img
					width: 90px
					height: 100%
					object-fit: cover
					border-radius: 0px 10px 10px 0px

			p
				font-size: 15px
				line-height: 18px

			&__text
				width: calc(100% - 90px)
				padding-top: 12px
				padding-bottom: 12px
				h4, .h4
					font-size: 20px
					line-height: 23px

				h5, .h5
					font-size: 18px
					line-height: 21px

			&__btn

				.btn
					padding: 9px 12px
					font-size: 14px
					line-height: 16px

		&-links
			margin-bottom: 5px
			.btn
				margin-bottom: 10px

		&-add
			padding-top: 40px

			.btn-large.btn-icon
				padding: 16px 30px 18px
				font-size: 22px
				line-height: 26px

	.courses 
		.row
			justify-content: center

			[class^=col]
				width: auto


	.profession
		
		padding-right: 0
		padding-left: 20px
		.row
			display: block
			margin: 0

			[class^=col]
				flex: auto
				padding: 0
				width: auto
				max-width: none

		&-item
			max-width: 350px
			margin-bottom: 10px

			.btn
				min-height: 0
				padding: 8px
				font-family: Roboto
				font-style: normal
				font-weight: bold
				font-size: 13px
				line-height: 15px
				box-shadow: none
				border: 2px solid #C4C4C4
				border-radius: 10px

				.ic, .icon
					display: none

			&__text
				width: calc(100% - 89px)

	.courses
		&-search
			flex-direction: column-reverse
			

			&__form
				max-width: 320px
				margin: 0 auto

				&--btn
					text-align: center

			&__tags

				.h3
					margin-bottom: 15px
					font-size: 18px
					line-height: 21px
					font-family: Raleway
					font-weight: bold
					color: #447C6C



	.tag

		&-list
			max-width: 390px


			br
				display: none

			&__item
				padding: 6px 12px 7px
				margin: 0 10px 10px 0
				font-size: 17px
				line-height: 20px
				font-family: Roboto
				font-weight: 500


			&__header
				margin-bottom: 10px
				font-size: 18px
				line-height: 21px
				font-family: Raleway
				font-weight: bold
				color: #447C6C


	.university
		&-form
			padding: 40px 0 0
			max-width: 340px
			margin: 0 auto

			&__btn
				padding-top: 120px
				text-align: center
	
		&-select
			margin-bottom: 25px


	.compare
		

		&-table
			min-width: 470px 
			margin: 25px 0
			border-collapse: collapse 

			&__wrap
				overflow-x: scroll

			&__td

				border: 2px solid #e3e3e3 

				&:first-child
					padding-left: 10px

				&:last-child
					padding-right: 10px

			&__header
				display: inline-flex
				align-items: center

				.ic, .icon
					margin-right: 5px

				span
					font-size: 12px
					line-height: 14px



			&__value
				font-size: 40px

			&__text

				.h4
					font-size: 12px
					line-height: 14px

				.h5, h5
					font-size: 12px
					line-height: 14px

				.profile-data__user--place
					font-size: 10px
					line-height: 14px























@media screen and (max-width: 479px)

	body
		min-height: 568px

	.container
		padding-left: 5px
		padding-right: 5px

	.header

		&-wrap
			height: 45px

		&-divider
			margin: 10px 0

			&:before
				height: 1px

			span
				padding: 0 10px
				font-size: 16px
				line-height: 19px







	.logo
		margin-right: 0
		font-size: 20px
		line-height: 23px

	.profile
		margin-bottom: 15px
		&-avatar
			width: 92px
			height: 98px

			.attach 
				input
					&+label
						width: 40px
						height: 40px

						&:before
							background-size: 60%

		&-data
			width: calc(100% - 92px)


			&__user
				margin-bottom: 12px
				padding: 10px 56px 12px 20px

				&--name
					font-size: 16px
					line-height: 19px

				&--place
					font-size: 13px

				&--state
					font-size: 13px

			&__about
				textarea
					min-height: 110px
					font-size: 14px
					line-height: 16px

				&--placeholder
					p
						margin-bottom: 14px
						font-size: 14px
						line-height: 16px
		&-info
			&__wrap
				display: flex
				flex-wrap: wrap
				justify-content: space-between
				padding-bottom: 24px

			&__file
				width: 49%

				.attach
					margin-top: 10px

			&__content
				width: 49%
				padding-left: 0

	.project-detailed span
		font-size: 12px
		padding-left: 8px

	.attach input+label
		font-size: 14px

	.sidebar
		&-menu
			&__mobile
				justify-content: center
				li 
					a 
						span
							display: none

	.main
		&-menu
			&__mobile
				justify-content: space-between

				li
					margin: 0 10px

					a 
						.icon
							font-size: 26px

						.ic
							width: 26px
							height: 26px
							background-size: contain
							background-position: center



	.btn
		&-icon
			font-size: 16px
			line-height: 19px

			&__right 
				.ic, .icon
					margin-left: 2px

			&.btn
				&-large
					
					.ic, .icon
						display: none

		&-large
			font-size: 20px
			line-height: 23px


	.ic
		&-arrow-right, &-news-add, &-plus, &-profile-2
			width: 32px
			height: 32px






	.h2, h2
		text-align: center

	.form
		&-item

			&__label
				font-size: 14px
				line-height: 16px


		&-courses
			&__new
				.btn
					margin-bottom: 20px

				textarea
					height: 70px

			&__foto
				margin-bottom: 20px

				&--header
					font-size: 16px
					line-height: 19px

		&-field
			&::-webkit-input-placeholder
				font-size: 14px
				line-height: 16px


			&:-moz-placeholder 
				font-size: 14px
				line-height: 16px

			&::-moz-placeholder 
				font-size: 14px
				line-height: 16px

			&:-ms-input-placeholder 
				font-size: 14px
				line-height: 16px

		&-support
			padding: 0 20px


	.settings
	
		&-list
			padding: 0 15px

			p
				font-size: 16px
				line-height: 19px


	.messager
		margin: 0
		padding: 10px 0

		&-item
			&__message
				font-size: 13px
				line-height: 16px
				font-weight: normal

				&--your
					font-weight: 500
					font-size: 13px
					line-height: 16px

			&__time
				width: 70px
				font-size: 12px
				line-height: 16px

			&__text
				width: calc(100% - 70px)

				
	.chat
		height: calc(100vh - 10px)
		min-height: 0
		&-top

			&__user

				&--name
					font-size: 16px
					line-height: 19px


				&--time
					font-size: 14px
					line-height: 16px

		
		&-field
			padding: 7px 10px 5px 42px
			margin: 0 5px
			&:before
				font-size: 25px
				top: 7.5px
				left: 10px

			textarea
				font-size: 14px
				line-height: 16px
				border-width: 1px

	.message
		padding-left: 0
		padding-right: 0
		height: 440px
		overflow-y: scroll

		&-item
			&__text
				max-width: 260px

				p
					font-size: 14px
					line-height: 16px


	.news
		&-wrap
			padding-left: 0
			padding-right: 0

		&-item

			&__img
				max-width: 70px
				width: 70px

				.btn-save
					border-radius: 40px 0px 0px 40px
					right: 0


			p
				margin-top: 12px
				margin-bottom: 12px
				font-size: 14px
				line-height: 16px

			&__text
				width: calc(100% - 70px)




				h4, .h4
					font-size: 18px
					line-height: 20px

				h5, .h5
					font-size: 16px
					line-height: 19px

			&__btn

				.btn
					margin: 0
					font-size: 13px
					line-height: 15px

					&:first-child
						margin-right: 6px

		&-links

			.btn
				
				font-size: 14px

				&-small
					.icon
						font-size: 24px
						margin-left: 7px

		&-add
			padding-top: 40px

			.btn-large.btn-icon
				padding: 16px 30px 18px
				font-size: 22px
				line-height: 26px

	.h4
		&.header-icon
			display: flex
			flex-direction: column
			align-items: flex-start

			span
				padding: 5px 0 0


	.courses
		&-item
			padding: 20px 15px

			.h4
				padding: 0 0 15px

			&__text
				padding: 20px 0
				min-height: 0

				ul
					li
						font-size: 16px
						line-height: 19px

			&__bottom
				padding: 0

		&-search
			
			&__form
				max-width: 320px
				margin: 0 auto

				&--btn
					text-align: center

			&__tags

				.h3
					margin-bottom: 15px
					font-size: 16px
					line-height: 18px


	.profession
		padding-left: 0

		&-item

			&__text
				font-size: 16px
				line-height: 19px

	.poster
		padding: 0 10px

		.h3
			font-size: 16px
			line-height: 19px

		.news-item
			padding: 5px 5px 5px 10px
			&__btn 
				.btn
					border: 0
					box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)



	.faculty
		padding: 0 10px 30px

		.h3
			font-size: 16px
			line-height: 19px

			br
				display: none



		



	.tag

		&-list
			max-width: 390px
			padding-left: 5px
			

			br
				display: none

			&__item
				font-size: 16px
				line-height: 19px



			&__header
				margin-bottom: 15px
				font-size: 16px
				line-height: 18px



	.select2-container
		max-width: 270px

		&--open 
			.select2-dropdown--below
				padding: 10px 10px 10px
				width: 100% !important
				right: auto
				left: auto
				top: 0
				border-width: 2px
				border-radius: 0 0 15px 15px
				border-top: 0

		.select2-results__option
			font-size: 15px
			line-height: 16px

		.select2-selection--single
			z-index: auto

	.select2-selection
		font-size: 15px

	.courses-search__select
		margin-bottom: 50px


	.test
		padding-left: 5px
		padding-right: 5px
		padding-bottom: 20px
		&-block
			&__item 
				input[type=radio]
					&+label
						padding: 8px 20px 10px
						font-size: 14px
						line-height: 19px

	.university
		&-form
			max-width: 290px

		&-select

			.select2-container
				max-width: 100%
			
	.faculty
		&-pages
			padding-left: 5px
			padding-right: 5px

			&__links
				li
					margin-bottom: 10px

					.btn
						padding: 10px 20px 12px

	.compare
		&-universities
			padding-left: 5px
			padding-right: 5px
			padding-bottom: 20px

			&__btn
				flex-direction: column
				align-items: flex-start

				.btn
					margin: 0 0 10px